.header {
  background: $dark-orange;
  margin-top: 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    padding-top: 2rem;
    margin-top: 0;
  }
  
}