// colors
$dark-grey: #333333;
$off-blue: #008ae6;
$dark-orange: #ff3300;

// Font Size
$fontS-xl: 2.2rem;
$fontS-l: 1.8rem;
$fontS-m: 1.4rem;
$fontS-s: 1rem;
$fontS-xs: .6rem;

// size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;